

.card {
  background: none;
  height: 45vh;
  width: 22.8%;
  cursor: pointer;
  padding: 3vh;
  margin-bottom: 0.2rem;
  border: 2px solid rgb(116, 116, 116);
  margin-left:5px;
  margin-right: 5px;
  border-radius: 5px ;
  margin-bottom: 25px;
  background-color: #d3d3d3;

  @media screen and (max-width: 1300px) {
    width: 28%;
  }
  @media screen and (max-width: 1000px) {
    width: 42%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &:hover {
    border: 0.01rem solid #926606;
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 1);
  }
}

.cardImgTop {
  width: 100%;
  height: 60%;
  border: 0.1vh solid #e0e0e0;
  margin-bottom: 10%;
  object-fit: fill;
}

.cardTitle {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 550;
}

.cardBody {
  width: 100%;
  overflow-y: scroll;
  height: 56px;
}

.cardText {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}